:root {
  --brand: #3D9CDB;
  --brand-800: #42AAF0;
  --brand-700: #43ABF0;
  --brand-600: #276690;
  --basic: #282834;
  --basic-900: #10101DE6;
  --basic-200: #2A2B30;
  --basic-100: #272733;
  --dark: #000;
  --light: #FFF;
  --button-text: #2B2C31;
  --button-border: #6E6C7A;
  --icon-border: #286690;
  --subtitle-color: #BBB;
  --dot: #C4C4C4;
  --logo-accent: #42A9ED;
  --select-active-bg: #3D4050D9;
  --select-bg: #FFFFFFD9;
  --footer-bg: #3E4151;
  --divider: #C3C3C3;
  --footer-social-color: #C2C2C2;
}
