$brand: var(--brand);
$brand_800: var(--brand-800);
$brand_700: var(--brand-700);
$brand_600: var(--brand-600);
$basic: var(--basic);
$basic_900: var(--basic-900);
$basic_200: var(--basic-200);
$basic_100: var(--basic-100);
$dark: var(--dark);
$light: var(--light);
$logo_accent: var(--logo-accent);
$button_text: var(--button-text);
$button_border: var(--button-border);
$icon_border: var(--icon-border);
$subtitle_color: var(--subtitle-color);
$dot: var(--dot);
$divider: var(--divider);
$select_bg: var(--select-bg);
$select_active_bg: var(--select-active-bg);
